# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [1]:
num_1 = 7

#### 2. asign any number of type float to the variable "num_2"

In [2]:
num_2 = 12.578

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [3]:
total = num_1 + num_2

#### 4. check the type of variable "total"

In [4]:
type(total)

float

#### 5. assign variable "height" with your height

In [5]:
height = 170

#### 6. asign variable "mass" with your weight

In [6]:
mass = 52

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [8]:
bmi = mass / (height*height)

#### 8. print value from "bmi" variable

In [9]:
print(bmi)

0.0017993079584775087

# String

#### 1. Create variable "name" with your first name

In [11]:
name = 'Nicole'

#### 2. Create variable "surname" with your surname

In [12]:
surname = 'Hong'

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [13]:
name_surname = name + " " + surname

#### 4. print variable "name_surname"

In [14]:
print(name_surname)

Nicole Hong

#### 5. print first letter from variable "name_surname"

In [15]:
print(name_surname[0])

N

#### 6. print your name (without empty space) from variable "name_surname"

In [17]:
name_surname

'Nicole Hong'

In [18]:
name_surname.replace(' ', '')

'NicoleHong'

#### 7. print your surname 10x (use variable surname)

In [21]:
(surname+' ') * 10

'Hong Hong Hong Hong Hong Hong Hong Hong Hong Hong '

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [22]:
greeting = 'Hello my name is ' + name_surname

In [23]:
greeting

'Hello my name is Nicole Hong'

#### 9. print "message" variable

#### String Functions
#### ====================

#### 10. Given a string of odd length greater than 7, return a new string made of the middle three characters of a given String

Given: `str1 = "JhonDipPeta"` <br>
Output: `Dip`

In [25]:
str1 = "JhonDipPeta"
len(str1)

11

In [26]:
str1[4:7]

'Dip'

#### 11. Given two strings, s1 and s2, create a new string by appending s2 in the middle of s1

Given:
```
s1 = "Ault"
s2 = "Kelly"
```

Output: `AuKellylt`

In [27]:
s1 = "Ault"
s2 = "Kelly"

In [28]:
s1[0:2] + s2 + s1[2:]

'AuKellylt'

## List

#### 1. create empty list with name "empty_list"

In [29]:
empty_list = []

#### 2. create list "heights" with five random values

In [30]:
heights = [180, 165, 178, 170, 175]

#### 3. print heights

In [31]:
print(heights)

[180, 165, 178, 170, 175]

#### 4. print type of variable "heights"

In [32]:
type(heights)

list

#### 5. print second value from "heights"

In [33]:
heights[1]

165

#### 6. assign last three values from "heights" to another list "heights_2"

In [39]:
heights_2 = heights[-3:]

#### 7. print "heights_2"

In [40]:
print(heights_2)

[178, 170, 175]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [42]:
list_all = heights + heights_2

#### 9. print "list_all"

In [43]:
print(list_all)

[180, 165, 178, 170, 175, 178, 170, 175]

#### 10. print the type of "list_all"

In [44]:
type(list_all)

list

## Tuple

#### 1. create empty tuple with name `empty_tuple`

In [45]:
empty_tuple = ()

#### 2. try to asign your name on the first position to the variable `empty_tuple` and check the type of the error

In [46]:
empty_tuple[0] = 'Nicole'

TypeError: 'tuple' object does not support item assignment

#### 3. According to question number 2, what is the main difference between list and tuple?

## Dictionary

#### 1. create empty dictionary with name `empty_dict`

In [47]:
empty_dict = {}

#### 2. create `heights_dict` dictionary with your name as a key and height as a value

In [48]:
heights_dict = dict([
    ('Nicole', 170)
])

#### 3. asign another name and height to `heights_dict`

In [49]:
heights_dict['Graham'] = 175

#### 4. print `heights_dict` dictionary

In [50]:
print(heights_dict)

{'Nicole': 170, 'Graham': 175}

#### 5. print your height from the `heights_dict` dictionary

In [51]:
heights_dict['Nicole']

170

#### 6. print all values from `heights_dict` dictionary

In [52]:
heights_dict.values()

dict_values([170, 175])

#### 7. print all keys from `heights_dict` dictionary

In [53]:
heights_dict.keys()

dict_keys(['Nicole', 'Graham'])